* {
    background-color: black;
}
#main-container{
 text-align: center;

}
#picture-div{
    margin: 10%;
    position: absolute;
}
.small-divs{
    background-color: white;
    position: absolute;
    width: 210px;
    height: 260px;
    border: 3px solid black;
    opacity: 0.5;
    top: 28px;
}

#money-div{
    background-color: white;
    position: absolute;
    left: 30px;
    top: 28px;
    width: 314px;
    height: 285px;
}

#steel-div{
    left: 357px;
}

#titanium-div{
    left: 580px;
}

#plants-div{
    left: 28px;
    top: 330px;
    width: 265px;
    height: 235px; 
}

#energy-div{
    left: 304px;
    top: 330px;
    width: 226px;
    height: 235px; 
}
#heat-div{
    left: 541px;
    top: 330px;
    width: 250px;
    height: 235px; 
}

