* {
    background-color: black;
}
#main-container{
    text-align: center;
}
#picture-div{
    background-color: red;
    margin: 10%;
    position: absolute;
}
#money-div{
    background-color: white;
    position: absolute;
    left: 30px;
    top: 19px;
    width: 320px;
    height: 300px;
}
.small-divs{
    background-color: white;
    position: absolute;
    width: 220px;
    height: 260px;
    opacity: 0.8;
}
#steel-div{
    left: 705px;
    top: 30px;
}
#titanium-div{
    left: 930px;
    top: 30px;
}
#plants-div{
    left: 400px;
    top: 310px;
}
#energy-div{
    left: 655px;
    top: 310px;
}
#heat-div{
    left: 900px;
    top: 300px;;
}

.modify{
    color: black;
    background-color: white;
    position: absolute;
}

#increment-money{
    top: 150px;
    left: 280px;
}

#decrement-money{
    top: 150px;
    left: 20px;
}

.marker{
    position: absolute;
    background-color: white;
    border: 2px solid black;
    height: 27px;
    width: 25px;
    top: 230px;
    left: 107px;
}